#portfolio{
    #main-carousel{
        @apply relative;
        .splide__slide img {
            @apply w-auto max-h-[420px];
        }
        .splide__arrows{
            @apply flex relative;
            // .splide__arrow--prev, .splide__arrow--next{
            //     @apply top-0;
            // }
        }
        .splide__pagination{
            @apply gap-1 bottom-0 md:hidden;
            .splide__pagination__page{
                @apply bg-[#D9D9D9] w-2 h-2;
                border-radius:10px;
                cursor:pointer;
                transition:0.3s ease width;
    
            }
            .splide__pagination__page.is-active{
                @apply bg-primary_light dark:bg-primary_dark scale-100 w-4;
                ;
            }
        }
    }
    #thumbnail-carousel{
        .splide__slide {
            img {
                @apply h-auto object-cover w-auto;
            }
        }
        .splide__slide {
            @apply h-auto;
            opacity: 0.6;
            width: auto;
        }
        .splide__slide.is-active {
            @apply h-auto;
            opacity: 1;
            width: auto;
        }
        .splide__track--nav>.splide__list>.splide__slide.is-active{
            border:none;
        }
        .splide__pagination{
            @apply gap-1 -bottom-8 md:bottom-2;
            .splide__pagination__page{
                @apply bg-[#D9D9D9] w-2 h-2;
                border-radius:10px;
                cursor:pointer;
                transition:0.3s ease width;
    
            }
            .splide__pagination__page.is-active{
                @apply bg-primary_light dark:bg-primary_dark scale-100 w-4;
                ;
            }
        }
    }

}