@use './globals' as *;
@use './animations/animations' as *;
html {
    scroll-behavior: smooth;
  }
body{
    @apply bg-white text-black dark:bg-black dark:text-white font-sans;
    h1, h2, h3, h4, h5, h6{
        @apply font-sans;
    }
    h1{
        @apply text-5xl;
    }
    h2{
        @apply text-4xl;
    }
    h3{
        @apply text-4xl md:text-5xl font-bold;
    }
    h4{
        @apply text-xl font-bold;
    }
    h5{
        @apply text-xl md:text-2xl;
    }
    h6{
        @apply text-lg;
    }
    p{
        @apply text-base;
    }
    a{
        @apply hover:text-primary_light dark:hover:text-primary_dark;
    }
    .logo{
        @apply h-auto max-w-12 transition-all fill-black dark:fill-white;
        a{
            @apply hover:bg-transparent dark:hover:bg-transparent hover:text-white;
        }
    }
    .logo-hamburguer{
        svg{
            @apply max-w-20 h-auto fill-black dark:fill-white;
        }
    }
    .toast{
        @apply flex flex-col items-center justify-between bg-white text-black dark:bg-black dark:text-white;
        .progress{
            @apply bg-black dark:bg-white;
        }
    }
    header{
        @apply h-auto fixed top-0 w-full block shadow-none bg-transparent text-black dark:text-white;
        transition: top 0.3s, background-color 0.3s ease;
        i {
            @apply leading-none text-lg;
          }
        .indicator {
            top: 50%;
            transform: translateY(-50%);
            transition: transform 0.3s ease; /* Agregar transición para el cambio de posición */
        }
        .dark .indicator {
            transform: translateX(1.75rem) translateY(-50%); /* Mover el indicador al lado derecho en el modo oscuro */
        }
    }
    .mobile-menu{
        @apply bg-white text-black dark:bg-black dark:text-white;
        i{
            @apply text-2xl;
        }
    }
    header, .mobile-menu{
        i{
            line-height: 0;
        }
        a{
            @apply hover:bg-primary_light focus:bg-primary_light active:bg-primary_light hover:text-white focus:text-black active:text-black dark:hover:bg-primary_dark dark:hover:text-black dark:active:bg-primary_dark;
        }
        .dropdown{
            @apply absolute z-10 w-full text-center;
            li{
                @apply bg-black_light text-white dark:hover:bg-primary_dark w-full;
                a{
                    @apply pt-0 pb-0 hover:bg-gray-200 dark:hover:bg-primary_dark;
                }
            }
            li:hover{
                @apply bg-primary_light dark:bg-primary_dark;
                a{
                    @apply text-black bg-primary_light dark:bg-primary_dark;
                }
            }
        }
        .cart-widget{
            @apply text-white mx-2 md:mx-0;
        }
        .flag-icon{
            @apply w-2 h-2 mr-[0.5rem];
        }
    }
    // Function to show header according to scroll view
    
    // End Function to show header according to scroll view
    // Hamburguer Menu icon
    .openbtn {
        @apply w-[40px] h-[20px] relative rounded cursor-pointer;
        }
    
        .openbtn .openbtn-area{
            @apply h-full relative flex flex-col justify-around;
            transition: all .4s;
        }
    
        .openbtn span {
            @apply w-1/2 h-[3px] relative left-[12px] bg-black dark:bg-white rounded inline ;
            transition: all .4s;
        }
    
        .openbtn.active .openbtn-area {
            transform: rotateY(-360deg);
        }
    
        .openbtn.active span{
            
            &:nth-of-type(1) {
                left: 14px;
                top: 2px;
                transform: translateY(6px) rotate(-135deg);
                width: 45%;
            }
            &:nth-of-type(2) {
                opacity: 0;
            }
            &:nth-of-type(3) {
                left: 14px;
                top: 1px;
                transform: translateY(-6px) rotate(135deg);
                width: 45%;
            }
        }
    // Contenedor gral
    .container{
        @apply w-full max-w-screen-xl mx-auto px-4 2xl:px-0;
    }
    // línea divisoria
    .divider{ 
        @apply h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-black to-transparent opacity-0 dark:via-white my-16 md:mb-32;
    }
    // Social icons
    .social-icons{
        @apply text-black dark:text-white;
        a{
            @apply aspect-square md:aspect-auto rounded-md flex justify-center items-center hover:bg-primary_light hover:text-white dark:hover:bg-primary_dark dark:hover:text-black transition-all;
        }
    }
    // Línea de progreso de slider vertical
    .my-slider-progress {
        @apply bg-gray_primary dark:bg-black_light;
    }
    .my-slider-progress-bar {
        @apply bg-primary_light dark:bg-primary_dark h-0.5 w-0;
        transition: width 400ms ease;
    }
}
