/* Animación del borde derecho */
@keyframes borderGrow {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

/* Otras animaciones */
.animate-h1,
.animate-p,
.animate-img,
.animate-h5,
.animate-button,
.animate-icon,
.animate-service-item {
    opacity: 0;
    transform: translateY(20px); /* Trasladar hacia abajo para la animación */
    transition: all 0.6s ease-in-out;
}

.animate-img {
    transform: translateX(100%); /* Trasladar hacia la derecha para la animación de la imagen */
}

.animate-h5 {
    transform: translateY(20px);
}

.animate-button {
    transform: translateY(20px);
}

.animate-h1.active,
.animate-p.active,
.animate-h5.active,
.animate-button.active,
.animate-icon.active,
.animate-service-item.active {
    opacity: 1;
    transform: translateY(0);
}

.animate-img.active {
    opacity: 1;
    transform: translateX(0);
}
/* Animación de la flecha */
.animate-arrow {
    opacity: 0;
    transform: translateY(-100%) translateX(100%) rotate(-90deg); /* Posición y rotación inicial */
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out; /* Transición para opacidad y transformación */
}

/* Estado final (cuando se activa) */
.animate-arrow.active {
    opacity: 1;
    transform: translateY(0) translateX(0) rotate(-90deg); /* Mover a la posición final sin rotación */
}
