@use '../globals/variables' as *;

// Bot贸n Primario con Animaci贸n 
.btn-primary{
    @apply font-sans w-fit relative px-4 py-2 text-xxs md:text-sm rounded-full bg-primary_light text-white hover:bg-black hover:text-white dark:bg-primary_dark dark:text-black dark:hover:bg-black dark:hover:text-white transition-all;
}
.btn-secondary{
    @apply font-sans
    w-fit
    relative
    px-4 py-2
    text-xxs lg:text-sm
    text-black dark:text-white hover:text-primary_light dark:hover:text-primary_dark
    bg-transparent
    transition-all;
    i{
        @apply absolute right-0 top-1/2 text-transparent;
        transform: translateY(-45%);
        transition: transform 0.3s, color 0.3s;
    }
}
.btn-secondary:hover i{
    @apply text-white;
    transform: translateX(-30%) translateY(-43%);
}
.btn-secondary:hover span{
    @apply pr-4
}
.btn-secondary:hover span{
    @apply pr-6
}
.btn-secondary span{
    transition: padding-right 0.3s;
}
// Fin Bot贸n Secundario con Animaci贸n 

// Urgencias
.btn-urgencies{
    @apply flex gap-4 items-center justify-center rounded-3xl p-6 bg-black text-white;
    i{
        line-height: 0;
    }
}

// Btn services
#btnService{
    .service-button{
        @apply w-full border border-black/10 py-4 px-8 rounded-2xl flex items-center justify-between;
        .service-icon{
            @apply text-xl mr-4;
            line-height: 0;
        }
        i{
            line-height: 0;
        }
        .service-bg-arrow{
            @apply flex items-center justify-center w-6 h-6 bg-black/10 text-black rounded-full;
        }
    }
}
#btnService .splide__track--nav>.splide__list>.splide__slide.is-active{
    @apply border-none;
    .service-button{
        @apply bg-gradient-to-b from-black to-black_light text-white;
        .service-bg-arrow{
            @apply bg-primary_light;
        }
    }
}

//Download CV button

.btns-port-web .text-rotate svg {
    animation: circular-text-rotate 5s linear paused infinite;
    font-weight:bold;
    letter-spacing: 0.24rem;
    overflow: visible;
    width: 100px;
}
.btns-port-web .text-rotate svg:hover {
    animation-play-state: running;
}
.btns-port-web .text-rotate path {
    fill: none;
}
.btns-port-web .text-rotate text {
    @apply fill-black dark:fill-white;
}
@keyframes circular-text-rotate {
    to {
    transform: rotate(1turn);
    }
}