.form{
    input, select, textarea{
        @apply 
        bg-transparent
        text-gray-700
        border-b-gray-300
        border-transparent
        focus:ring-transparent
        focus:border-b-gray-600
        focus:border-t-transparent
        focus:border-x-transparent
        focus:ring-0
    }
    select{
        @apply text-gray-500
    }
    input[type=checkbox]{
        @apply border-gray-300
    }
}

#quotationForm{
    .checkbox-container .peer:checked ~ label {
        @apply bg-primary text-white;
    }

}