.home-hero-banner{
    .home-hero-banner-content{
        @apply flex items-center justify-evenly text-black dark:text-white;
        hr{
            @apply border-t-2 border-black dark:border-white;
        }
        img{
            @apply w-auto;
        }
        .vertical-text{
            writing-mode: vertical-lr;
        }
        .splide__pagination{
            @apply absolute -bottom-12 gap-1;
            .splide__pagination__page{
                @apply bg-white w-2 h-2;
                border-radius:20px;
                cursor:pointer;
                transition:0.3s ease width;
    
            }
            .splide__pagination__page.is-active{
                @apply bg-primary_light dark:bg-primary_dark scale-100 w-4;
            }
        }
    }
    .toggle-theme{
        i::before{
            @apply leading-[1.6rem];
        }
    }
    .indicator {
        left:0.125rem;
        transform: translateY(-50%);
        transition: transform 0.3s ease;
    }
    .dark .indicator {
        transform: translateY(50%);
    }
}
#experiences, #education, #skills-container, #portfolio{
    .vertical-text{
        @apply md:rotate-180;
        @media (min-width: 768px) {
            writing-mode: vertical-rl;
          }
    }
}
#experiences, #education, #portfolio{
    @apply relative;
    .splide__arrows{
        @apply w-full md:w-32 flex justify-end gap-16 absolute top-2 right-4 md:right-40;
        .splide__arrow{
            @apply relative top-0 translate-y-0;
        }
    }
}
#skills-container{
    #skills{
        .splide__slide{
            @apply flex flex-col items-center justify-between bg-white dark:bg-black hover:scale-125 my-12 py-12 relative overflow-hidden;
            .splide__slide_img{
                @apply h-full flex items-center mix-blend-luminosity hover:mix-blend-normal;
                transition: transform .2s ease-in-out;
                img{
                    @apply max-w-20;
                }
            }
            p{
                @apply absolute bottom-0 w-full text-center;
                transform: translateY(100%);
                transition: transform .3s ease-in-out;
            }
            &:hover{
                .splide__slide_img {
                    transform: translateY(-10%); /* Mueve la imagen un poco hacia arriba */
                }
                p{
                    transform: translateY(-100%);
                }
            } 
        }
    }
}
//Cobertura
.cobertura{
    iframe{
        @apply w-full h-[450px];
    }
    .cobText::before{
        @apply bg-none sm:bg-[url('/storage/app/public/img/destination.png')] bg-no-repeat bg-contain bg-right-bottom top-0 sm:bottom-36 md:bottom-4 right-4 lg:bottom-0 lg:right-24 lg:top-auto w-16 h-16 lg:w-full lg:h-full absolute;
        content: "";
        max-height: 85px;
        opacity: 0.5;
    }
}
// Fin Cobertura
#faqs{
    .questions{
        @apply flex flex-col md:flex-row justify-between flex-wrap w-full gap-4;
        .question{
            @apply w-full md:w-[30%];
        }
    }
    .vertical-text{
        writing-mode: vertical-lr;
    }
}
#contact{
    .social-icons{
        @apply text-black dark:text-white;
    }
}